FORMULARIO DE ALUMNOS <!DOCTYPE html><br><br><br>
<html lang="es">
<head>

 <header></header> 
  <main>

<label for="DNI" >DNI:</label>
<input type="number" required><br><br>

<label for="nombre"> NOMBRE:</label>
<input type="text" required><br><br>

<label for="surname"> APELLIDO:</label>
<input type="text" required><br><br> 

<label for="fechaNacimiento">FECHA DE NACIMIENTO:</label>
<input type="date"><br><br>

<!..radio..>
<label>CONDICION</label><br><br>

<label for="radio"id="regular" name="condicio" value="regular">REGULAR:</label>
<input type="regular">

<label for="radio"id="libre" name="condicion" value="libre">LIBRE:</label>
<input type="libre"><br><br><br>

<input type="submit" value="Enviar">
    </form>

  </main> 
  <footer></footer>
  

</body>
</html>