FORMULARIO DE DOCENTES <!DOCTYPE html><br><br>
<html lang="es">
<head>
    <header></header>
    <main>

<label for="DNI" >DNI:</label>
<input type="dni"id="DNI" required><br><br>

<label for="nombre"> NOMBRE:</label>
<input type="text" required><br><br>

<label for="surname"> APELLIDO:</label>
<input type="text" required><br><br>

<label for="horasCatedras">Horas Cátedras:</label>
<input type="number" id="horasCatedras" name="horasCatedras" min="1" ><br><br>
    
 <label for="legajo"> LEGAJO:</label>
<input type="text" id="legajo" name="legajo"required><br><br><br>   

<input type="submit" value="Enviar">
    </form>

   </main> 
  <footer></footer>
 
</body>
</html>